.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.app {
    background: #000000;
}

main {
    padding-top: $header;
    min-height: 100vh;
}

// responsive

@include mobile {
    main {
        padding-top: $header-mobile;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: $container-width;
    }
}

// @media (min-width: 1200px){
//     .container{
//         max-width: @container-width;
//     }
// }
// @media (min-width: 992px){
//     .container{
//         max-width: 960px;
//     }
// }
// @media (max-width: 768px){
//     .container{
//         max-width: 720px;
//     }
// }
// @media (max-width: 576px){
//     .container{
//         max-width: 540px;
//     }
// }
//backup media
// @media (max-width: 1199px) {
// }
// @media (max-width: 991px) {
// }
// @media (max-width: 767px) {
// }
// @media (max-width: 576px) {
// }